
 .pokemon{
   width: 31%;
   height: 40%;
   margin: 1%;
   background-color: rgb(255, 255, 255);
   padding-bottom: -20px;
   border-radius: 15px;
    /* FLEX */
    display: flex;
    flex-direction: column; 
    align-items: center;
 }
 .pokemon p{
   text-shadow: 1px 1px 0px rgb(108, 108, 108);
   margin-bottom: 10px;
   height: 1em;
   align-self: end;
   padding: 5px 1em 0;
 }
 .pokemon img{
   padding: 0 1em;
   /* width: 100%; */
    height: 5em;
 }
 .pokemon h3{
   font-size: 1em;
   margin-top: auto;
   color: white;
   text-shadow: 1px 1px 1px rgba(5, 5, 5, 0.483);
   border-radius: 0 0 11px 11px;
   width: 100%;
   height: 2em;
    /* FLEX */
    display: flex;
    justify-content: center;
    align-items: center;
}