.secDiv{
    background-image: url("../../../public/Images/Pokeball.png");
    background-repeat: no-repeat;
    background-position: 95% 1%;
    background-blend-mode: color-dodge;
    background-size: 65%;
    min-height: 844px;
}

.pokeArrows{
    height: 10em;
    /* FLEX */
        display: flex;
        justify-content: center;
        align-items: end;
}

.pokeMainImg{
    width: 75%;
    margin: 0 auto -20%;
}

.thePointer{
    width: 10%;
    margin: 0 5px;
}
