.information{
    padding: 10% 0 14%;
    margin: 20px 5px 5px;
    border-radius: 10px;
    background-color: white;
    /* FLEX */
        display: flex;
        flex-direction: column;
        align-items: center;
}
.infoTypes{
    display: flex;
    justify-content: center;
}
.infoTypes span{
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 50px;
    color: white;
}

.about{
    font-size: medium;
    padding-top: 5%;
}

.infoGrid{
    height: 40%;
    width: 80%;
    margin-top: 5%;
    /* GRID */
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 3fr;
}

.infoMiniGrid1{
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: left;
}

.infoMiniGrid2{
    grid-column: 2;
    border-left: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
    /* GRID */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
}

.infoMiniGrid3{
    grid-column: 3;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#id0{
    grid-row: 1;
    width: 150%;
    font-family: 'Questrial', sans-serif;
    font-weight: 1000;
    font-size: 14px;
    margin-left: 20%;
}

#id1{
    grid-row: 2;
    font-family: 'Questrial', sans-serif;
    font-weight: 1000;
    font-size: 14px;
    margin-left: 20%;
}

.imgGrid{
    height: 150%;
    padding-top: 20%;
    margin-bottom: -20%;
    margin-left: 50%;
    grid-row: 1 / 2;
    grid-column: 1;
}

.gridContent{
    padding-top: 20%;
    margin-right: 50%;
    margin-bottom: -20%;
    text-align: left;
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 2;
}

.gridText{
    font-family: 'Questrial', serif ;
    text-align: center;
    grid-row: 3;
    grid-column: 1 / 3;
    color: grey;
}

.description{
    font-family: 'Questrial', sans-serif;
    height: 3em;
    margin: 10% 5%;
    text-align: left;
}

.statDiv{
    width: 90%;
    /* FLEX */
        display: flex;
        justify-content: end;
}

.statDiv p{
    width: 2em;
    padding-left: 2%;
    margin-right: 5%;
    border-left: 1px solid grey;
}

.statDiv label{
    margin-right: 5%;
}

.progressBar{
    margin-left: 5%;
    /* FLEX */
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.stats{
    padding-bottom: 8%;
}