.topNav{
    padding: 1.4em 1.2em;
    /* FLEX */
        display: flex;
        justify-content: space-between;
}

.topNav h3{
    font-size: 1.6em;
    margin-left: 1em;
    color: white;
}

.topNav h4{
    align-self: center;
    font-size: 0.8em;
    margin-left: auto;
    color: white;
}

.topNav img{
    height: 10%;
    width: 10%;
}